/.idea/misc.xml
/private.json
/my_store
/@fmbot:matrix.org_EKDLLGAGRC.blacklisted_devices
/@fmbot:matrix.org_EKDLLGAGRC.ignored_devices
/@fmbot:matrix.org_EKDLLGAGRC.trusted_devices
/tmpvcfoseiv.PNG
/cute.png
/cat.png
/dot.png
/mine.png
/shine.png
/them.png
/test.png
/they.png
/momiji
/gamer.gif
/1.gif
/anime.mp4
/win.mp3
